<div class="container " style="max-width: 1000px; margin: 15px auto 20px auto;">
    <div class="top curtain">
        <!-- ko if: $root.InProgress -->
        <div class="topheader bg-danger">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 20%; text-align: left;"><h3 style="margin: 0;">Active</h3></td>
                    <td style="width: 40%; text-align: center;"><h4 style="margin: 0;"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size:14px;"></span>&nbsp;&nbsp;<span data-bind="text: LatestEntry.ProjectName"></span> / <span data-bind="text: LatestEntry.TaskName"></span></h4></td>
                    <td style="width: 20%; text-align: center;"><h4 style="margin: 0;"><span class="glyphicon glyphicon-time" aria-hidden="true" style="font-size:14px;"></span>&nbsp;&nbsp;<span data-bind="text: timeSpanFull(LatestEntry.Contrib())"></span></h4></td>
                    <td style="width: 20%; text-align: right;">
                        <button class="btn btn-xs btn-default summarybutton" data-bind="attr: { 'data-entryid': $root.LatestEntry.TEntryID() }" data-toggle="modal" data-target="#entryEditModal">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;Edit&nbsp;&nbsp;
                        </button>
                        <button class="btn btn-xs btn-danger summarybutton" data-bind="click: stopTask.bind($data, $root.LatestEntry.TTaskID())">
                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>&nbsp;&nbsp;Stop&nbsp;&nbsp;
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: $root.InProgress -->
        <div class="topheader bg-success">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 20%; text-align: left;"><h3 style="margin: 0;">Idle</h3></td>
                    <td style="width: 40%; text-align: center;"><h4 style="margin: 0;"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size:14px;"></span>&nbsp;&nbsp;<span data-bind="text: LatestEntry.ProjectName"></span> / <span data-bind="text: LatestEntry.TaskName"></span></h4></td>
                    <td style="width: 20%; text-align: center;"><h4 style="margin: 0;"><span class="glyphicon glyphicon-time" aria-hidden="true" style="font-size:14px;"></span>&nbsp;&nbsp;<span data-bind="text: timeSpanFull(LatestEntry.Contrib())"></span></h4></td>
                    <td style="width: 20%; text-align: right;">
                        <button class="btn btn-xs btn-default summarybutton" data-bind="attr: { 'data-entryid': $root.LatestEntry.TEntryID() }" data-toggle="modal" data-target="#entryEditModal">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;Edit&nbsp;&nbsp;
                        </button>
                        <button class="btn btn-xs btn-success summarybutton" data-bind="click: startTask.bind($data, $root.LatestEntry.TTaskID())">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>&nbsp;&nbsp;Start&nbsp;&nbsp;
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /ko -->
    </div>

    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;Summary</a></li>
            <li role="presentation"><a href="#log" aria-controls="report" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;&nbsp;Log</a></li>
            <li role="presentation"><a href="#report" aria-controls="report" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;&nbsp;Report</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="curtain tabcontent">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr class="emphasis">
                                <th class="center" style="width: 100px;">Project</th>
                                <th class="center" style="width: 350px;">Task</th>
                                <th class="center" style="width: 100px;">Status</th>
                                <th class="center" style="width: 100px;">Today</th>
                                <th class="center" style="width: 100px;">Week</th>
                                <th class="center" style="width: 100px;">Month</th>
                                <th class="center" style="width: 100px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Projects">
                            <tr class="active">
                                <td data-bind="text: Name" colspan="2"></td>
                                @*<td><button class="btn btn-default btn-xs" onclick="newTask(@project.ProjectId);">+</button></td>*@
                                <td class="center"><span data-bind="if: InProgress">Active</span></td>
                                <td class="contrib"><span data-bind="text: timeSpan(Contrib.Today())"></span></td>
                                <td class="contrib"><span data-bind="text: timeSpan(Contrib.ThisWeek())"></span></td>
                                <td class="contrib"><span data-bind="text: timeSpan(Contrib.ThisMonth())"></span></td>
                                <td class="center">&nbsp;</td>
                            </tr>
                            <!-- ko foreach: TTasks -->
                            <tr data-bind="css: { success: InProgress }">
                                <td>&nbsp;</td>
                                <td data-bind="text: Name"></td>
                                <td class="center"><span data-bind="if: InProgress">Active</span></td>
                                <td class="contrib"><span data-bind="text: timeSpan(Contrib.Today())"></span></td>
                                <td class="contrib"><span data-bind="text: timeSpan(Contrib.ThisWeek())"></span></td>
                                <td class="contrib"><span data-bind="text: timeSpan(Contrib.ThisMonth())"></span></td>
                                <td class="right" style="width: 100px;">
                                    <span data-bind="if: InProgress">
                                        <button class="btn btn-xs btn-danger summarybutton" data-bind="click: stopTask.bind($data, TTaskID())">
                                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>&nbsp;&nbsp;Stop&nbsp;&nbsp;
                                        </button>
                                    </span>
                                    <span data-bind="ifnot: InProgress">
                                        <input data-bind="value: TTaskID" type="hidden" name="tTaskId" />
                                        <!-- ko if: $root.InProgress -->
                                        <button class="btn btn-xs btn-success summarybutton" data-bind="click: switchTask.bind($data, TTaskID())">
                                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>&nbsp;&nbsp;Switch&nbsp;&nbsp;
                                        </button>
                                        <!-- /ko -->
                                        <!-- ko ifnot: $root.InProgress -->
                                        <button class="btn btn-xs btn-success summarybutton" data-bind="click: startTask.bind($data, TTaskID())">
                                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>&nbsp;&nbsp;Start&nbsp;&nbsp;
                                        </button>
                                        <!-- /ko -->
                                    </span>
                                </td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                        <tbody>
                            <tr class="emphasis active">
                                <th>TOTAL</th>
                                <th>&nbsp;</th>
                                <th class="center">&nbsp;</th>
                                <th class="contrib" data-bind="text: timeSpan(Contrib.Today())"></th>
                                <th class="contrib" data-bind="text: timeSpan(Contrib.ThisWeek())"></th>
                                <th class="contrib" data-bind="text: timeSpan(Contrib.ThisMonth())"></th>
                                <th class="center">&nbsp;</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="log">
                <div class="tabcontent">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="emphasis">
                                <th class="center" style="width: 120px;">Start</th>
                                <th class="center" style="width: 120px;">End</th>
                                <th class="center" style="width: 150px;">Project</th>
                                <th class="center" style="width: 350px;">Task</th>
                                <th class="contrib">Contrib</th>
                                <th class="center">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Entries">
                            <tr data-bind="css: { 'bg-success': InProgress }">
                                <td class="center" data-bind="text: dateTime(StartDate())"></td>
                                <td class="center" data-bind="text: dateTime(EndDate())"></td>
                                <td data-bind="text: ProjectName"></td>
                                <td data-bind="text: TaskName"></td>
                                <td class="contrib" data-bind="text: timeSpan(Contrib())"></td>
                                <td class="center">
                                    <button class="btn btn-xs btn-default summarybutton" data-bind="attr: { 'data-entryid': TEntryID() }" data-toggle="modal" data-target="#entryEditModal">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;Edit&nbsp;&nbsp;
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="report">
                <div class="tabcontent">
                    report
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="entryEditModal" tabindex="-1" role="dialog" aria-labelledby="entryEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="entryEditModalLabel">Edit Entry</h4>
            </div>
            <div class="modal-body">
                <form id="entryEditForm">
                    <p>
                        Project: <span data-bind="text: $root.EditingEntry().ProjectName" />
                    </p>
                    <p>
                        Task: <span data-bind="text: $root.EditingEntry().TaskName"/>
                    </p>
                    <p>
                        Start: <input type="text" data-bind="value: $root.EditingEntry().StartDate" name="StartDate"/>
                    </p>
                    <p>
                        End: <input type="text" data-bind="value: $root.EditingEntry().EndDate" name="EndDate"/>
                    </p>
                    <p>
                        Contrib: <span data-bind="text: timeSpanFull($root.EditingEntry().Contrib())" />
                    </p>
                    <input type="hidden" data-bind="value: $root.EditingEntry().TEntryID" name="TEntryID"/>
                    <input type="hidden" data-bind="value: $root.EditingEntry().TTaskID" name="TTaskID" />
                    <input type="hidden" id="IsDeleted" name="IsDeleted" value="false"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-danger summarybutton" data-bind="click: deleteEntry.bind($data, null)" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-xs btn-success summarybutton" data-bind="click: saveEntry.bind($data, null)">Save</button>
                <button type="button" class="btn btn-xs btn-primary summarybutton" data-bind="click: refreshModel.bind($data, null)" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/tracktor")

    <script type="text/javascript">
        initializeModel();
    </script>
}
