<div class="navbar navbar-default" style="margin-bottom: 0;">
    <tracktor-topbar></tracktor-topbar>
</div>
<div *ngIf="appService.initialized" class="container" style="max-width: 1000px; margin: 15px auto 20px auto;">
    <div *ngIf="!appService.currentUser">
        <div class="row" style="margin-top: 20px;">
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#signin" aria-controls="signin" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;&nbsp;sign in</a></li>
                    <li role="presentation"><a href="#register" aria-controls="register" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;&nbsp;register</a></li>
                </ul>

                <div class="tab-content">
                    <div tracktor-login (onLoggedIn)="onLoggedIn($event)" role="tabpanel" class="tab-pane active" id="signin"></div>
                    <div tracktor-register role="tabpanel" class="tab-pane" id="register"></div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="appService.currentUser">
        <tracktor-status></tracktor-status>
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;Summary</a></li>
                <li role="presentation"><a href="#log" aria-controls="report" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;&nbsp;Log</a></li>
                <li role="presentation"><a href="#report" aria-controls="report" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;&nbsp;Report</a></li>
                <li role="presentation"><a href="#export" aria-controls="export" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;&nbsp;Export</a></li>
            </ul>

            <div class="tab-content">
                <div tracktor-summary role="tabpanel" class="tab-pane active" id="summary"></div>
                <div tracktor-log role="tabpanel" class="tab-pane" id="log"></div>
                <div tracktor-report role="tabpanel" class="tab-pane" id="report"></div>
                <div tracktor-export role="tabpanel" class="tab-pane" id="export"></div>
            </div>
        </div>
        <div tracktor-edit *ngIf="appService.editDialogShown"></div>
        <div tracktor-user *ngIf="appService.userDialogShown"></div>
    </div>
</div>

<footer class="navbar-fixed-bottom" style="margin-left: 15px;">
    <p>&copy; <span id="year">{{year}}</span> - <a href="https://github.com/rohatsu/tracktor">tracktor</a> by <a href="https://www.rohatsu.com">rohatsu software studios</a></p>
</footer>
